{% extends "@FOSUser/layout.html.twig" %}

{% block tilebar %}Log In{% endblock %}
{% block breadcrumbs %}Log In{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                {% trans_default_domain 'FOSUserBundle' %}

                {% if error %}
                    <div style="color:red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <!--Tab -->
                <div class="my-account style-1 margin-top-5 margin-bottom-40">
                    <ul class="tabs-nav">
                        <li class=""><a href="#">Log In</a></li>
                    </ul>


                    <div class="tabs-container alt">

                        <!-- Login -->
                        <div class="tab-content" id="tab1" style="display: none;">
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                {% if csrf_token %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                {% endif %}

                                <p class="form-row form-row-wide">
                                    <label for="username">Username:
                                        <i class="im im-icon-Male"></i>
                                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                    </label>
                                </p>

                                <p class="form-row form-row-wide">
                                    <label for="password">Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        <input type="password" id="password" name="_password" required="required" />
                                    </label>
                                </p>

                                <p class="form-row">
                                    <input type="submit" class="button border margin-top-10" id="_submit" name="_submit" value="Login" />

                                    <label for="rememberme" class="rememberme">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember Me</label>
                                </p>

                                <p class="lost_password">
                                    <a href="#" >Lost Your Password?</a>
                                </p>

                            </form>
                        </div>



                    </div>

                </div>
            </div>
        </div>




    </div>

{% endblock fos_user_content %}
